@import url('./fonts.css');

:root {
    background: no-repeat url('../Assets/Background.jpg');
    height: 100svh;
    background-position: center center;
    background-size: cover;
    overflow-x: hidden;
}

main {
    font-family: DongleLight, Arial, Helvetica, sans-serif;
    font-size: clamp(1.5rem, 5vw, 4rem);
    line-height: 2rem;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50vmin;
    width: calc(50vmin + 20%);
    border-radius: 4%;
    backdrop-filter: blur(30px);
    display: flex;
    justify-content: space-between;
}

.profile {
    align-self: center;
    margin-left: 5%;
    height: 50%;
    width: 25%;
    background: no-repeat center url('../Assets/Profile.jfif');
    background-size: cover;
    border-radius: 3%;
    border: .1px ridge black;
}

.info {
    display: inherit;
    flex-wrap: wrap;
    height: inherit;
    width: 64%;
    border-radius: 0 4% 4% 0;
    padding: 10% 7%;
    box-sizing: border-box;
    overflow: hidden;
}

section, section h5 {
    box-sizing: border-box;
    text-overflow: clip;
    width: 100%;
    margin: auto;
}

section p {
    font-family: SairaCondensedLight, Arial, Helvetica, sans-serif;
    font-size: min(.7em, 40%);
    line-height: 1.2em;
}

ul {
   list-style: none;
   display: block;
   margin: 0;
   padding: 0;
}

li img {
    width: 13%;
}

h5 span {
    background-image: linear-gradient(to bottom, #ff00ff, purple 50%); /* Define the gradient colors */
  background-clip: text; /* Clip the background to the text */
  -webkit-background-clip: text; /* For Safari/Chrome */
  color: transparent; /* Make the text transparent */
}