@import url('./fonts.css');

:root {
    background-color: black;
    color: white;
    overflow: hidden;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.space {
    z-index: 1;
    position: absolute;
    box-sizing: border-box;
    height: 100svh;
    width: 100svw;
    overflow: hidden;
}

.space::before, .space::after {
    content: '';
    position: absolute;
    height: 200px;
    width: 2px;  
    background: linear-gradient(transparent, rgba(240, 255, 255, 0.897) 10%, rgb(80, 131, 226) 90%);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    box-shadow: 0 5px 1px 2px blue;
    filter: blur(2px);
    animation: meteor 1.5s linear infinite;
}

.space::before {
    background: linear-gradient(transparent, rgba(240, 255, 255, 0.897) 10%, rgb(226, 85, 80) 90%);
    box-shadow: 0 5px 1px 2px orangered;
    animation-duration: 4s;
}

.container {
    z-index: 2;
    overflow: hidden;
    position: absolute;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    flex-wrap: wrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40vmin;
    width: calc(40vmin + 20%);
    border-radius: 2%;
    backdrop-filter: blur(5px);
    background-color: transparent;
    animation: glowbox 2s infinite linear;
}

.profile {
    margin-left: 5%;
    position: relative;
    height: 50%;
    width: 25%;
    background: url("../Assets/Profile.jfif") no-repeat center;
    background-size: cover;
    border-radius: 5%;
}

section {
    width: auto;
    flex: 1;
    font-size: clamp(.8rem, 2vmax, 1.3rem);
    line-height: 1.2em;
    font-family: SairaCondensedLight;
    text-align: center;
}

section h3 {
    margin-top: 0;
}

section p {
    margin: 0;
    margin-left: 20%;
    margin-right: 20%;
}

i {
    display: block;
    position: absolute;
    border-radius: 50%;
    background-color: white;
}

i:nth-child(even){
    animation: glow 1s ease-in-out infinite;
}

i:nth-child(odd){
    animation: glow 2s ease-in-out infinite;
    animation-delay: 4s;
}

@keyframes glow {
    100% {
        transform: scale(0.7);
    }
}

@keyframes meteor {
    0% {
        transform: translate(100vmax, 0) rotate(70deg);
    }
    100% {
        transform: translate(0, 50vmin) rotate(70deg);
    }
}

@keyframes glowbox {
    0% {
        box-shadow: 0 0 2px rgb(187, 255, 255);
        /* transform: translate3d(0,0,0); */
    }
    100% {
        box-shadow: 0 0 5px rgb(187, 255, 255);
        /* transform: translate3d(0,0,0); */
    }
}